@yellow: #fffa19;
@black: #000000;
@red: #f55142;
@green: #40943d;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.jumbotron {
  background-color: @yellow;
  color: @black;
  .margenes(50px, 50px);
}

footer {
  .padding(10px, 10px, 0, 10px);
  background-color: @yellow;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  .padding(0, 10px, 0, 0);
}
