.jumbotron {
  background-color: #fffa19;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 30px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0; }
