$yellow: #fffa19;
$black: #000000;
$red: #f55142;
$green: #40943d;


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
    padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
	color: $black;
	@include margenes(50px, 30px);
}

footer {
	@include padding(10px, 10px, 0, 10px);
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon {
	@include padding(0, 10px, 0, 0);
}